{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
  <h1 class="favorites-title">My Favorite Books</h1>
  
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">
    {% for favorite in favorites %}
      <div class="col">
        <div class="card book-card h-100">
          <a href="{% url 'book_detail' favorite.book.pk %}">
            <img src="{{ favorite.book.coverImage.url }}" class="card-img-top" alt="{{ favorite.book.title }} cover">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ favorite.book.title }}</h5>
            <p class="card-text">by {{ favorite.book.author }}</p>
            <div class="download-info mt-auto">
              <i class="fas fa-download"></i> {{ favorite.book.download_count }} downloads
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group w-100" role="group">
              <a href="{% url 'book_detail' favorite.book.pk %}" class="btn btn-outline-dark btn-sm">Details</a>
              <a href="{% url 'remove_favorite' favorite.book.pk %}" class="btn btn-outline-danger btn-sm">Remove</a>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p class="text-center">You haven't added any books to your favorites yet.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}